@font-face
{
    font-family: 'MyFont';
    font-weight: 400;
    font-style: normal;
    src: url("./OpenSans-Regular.ttf");
}

.hello {
    font-family: 'MyFont', serif;
    color: red;
    background: url("./lew.png");
}